body,
html {
    height: 100%;
    font-size: 11.8px;
}

.bg {
    /* The image used */
    background-image: url('assets/background.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: myfont;
}

.centeredContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
